@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Hack to prevent iOS Safari to zoom and scroll on input when focused */
input:focus {
  animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
}
